.circular-menu {
    position: fixed;
}

.circular-menu .floating-btn {
    display: block;
    width: 3em;
    height: 3em;

    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;

    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

/*.circular-menu:after {
    display: block;
    content: ' ';

    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
    position: absolute;

    top: -3px;
    left: -3px;

    z-index: -2;
    transition: all .2s ease;
}*/

.circular-menu.active:after {
    transform: scale3d(4.5, 4.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

/*4 little blips*/
.circular-menu .menu-item {
    position: absolute;

    top: 0em;
    left: 0;

    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: .75em;

    width: 3.75em;
    height: 3.75em;

    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: white;
    transition: transform .2s ease, background .2s ease;

    /*box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);*/
}

.circular-menu .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/**
   * The other theme for this menu
   */

.circular-menu.circular-menu-left {
    bottom: 1.5em;
    right: 1.5em;
}

.circular-menu.circular-menu-left .floating-btn {
    background-color: green;

    background-image: url('img/menu-icon.png');
    background-position: center;
    background-repeat: no-repeat;
}

.circular-menu.circular-menu-left:after {
    background-color: red;
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(1em, -7em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(-7em, 1em, 0);
}

/*
.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em, -7em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em, -6.3em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em, -3.2em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em, 1em, 0);
}
*/