/* #region common*/
.htmlscroll {
    overflow-y: scroll;
    /*background-color: rgb(246, 247, 235);
    background-color: rgb(247, 243, 206);*/
    background-color: rgb(236, 235, 233);
}

.allcontainers {
    z-index: -2;
    position: absolute;

    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;

    /*background-color: rgb(1, 1, 1);*/

}


.navbar {
    z-index: 1;

    position: relative;
    top: 0px;

    height: 35px;
    width: 100%;
    background-color: whitesmoke;


    display: flex;
    flex-direction: row;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .1);
}

.navbar_child1 {

    position: relative;
    z-index: 2;

    top: 3px;
    margin-left: 12px;

    width: 50%;

    font-size: 24px;
    text-align: left;
    /*color: black;*/


}

.navbar_child2 {

    position: relative;
    z-index: 2;

    top: 3px;
    margin-right: 12px;
    width: 50%;

    font-size: 24px;
    text-align: right;

    white-space: nowrap;
}

.navbuttons {
    padding-left: 12px;
    padding-right: 12px;


    color: black;
    text-decoration: none;
}

.navbuttonopen {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24;

    color: red;
}

.maincontent {
    z-index: -2;
    position: relative;

    top: 0px;
    bottom: 0px;

    margin: auto;
    padding-top: 0px;
    padding-bottom: 50px;

    width: 806px;
    height: auto;

    /*background-color: lightgoldenrodyellow;*/
}

.bottomindexparent {
    position: relative;
    display: flex;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 36px;

    width: 860px;
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: whitesmoke;

    border-radius: 8px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);
}

.bottomindexcol {
    position: relative;

    box-sizing: border-box;

    font-family: calibri;
    font-size: 16px;
    text-align: center;
    line-height: 12px;

    width: 100%;
    top: 0;
    bottom: 0;

}

/* #endregion common*/

/* #region home */


.hometiles {
    position: relative;

    float: none;
    margin: auto;

    width: 100%;
    height: 240px;

    display: flex;
    flex-direction: row;

    margin-top: 18px;
    margin-bottom: 24px;

    background-color: whitesmoke;

    z-index: 0;

    border-radius: 8px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);
}

.hometilehead {
    position: relative;
    z-index: 1;

    text-align: left;

    font-size: 24px;

    font-family: 'Times New Roman', Times, serif;

    text-decoration: none;

    color: black;

}

.homebrief {
    z-index: -1;
    position: relative;

    /*    margin-top: 24px;*/
    left: 0%;

    text-align: justify;
    font-size: 16px;
    font-family: calibri;

    color: black;

    /*background-color: lightpink*/
}

.tilehomecol1 {

    width: 40%;

    margin-left: 0;

    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;

    border-radius: 8px;
}

.tilehomecol2 {

    width: 60%;
    height: 60%;

    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.tilehomeimg {
    height: 100%;
    width: 100%;
    object-fit: contain;

    border-radius: 8px;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);

}

/* #endregion home */

/* #region gamedev */

.gametiles {
    position: relative;

    float: none;
    margin: auto;

    width: 100%;
    height: 240px;

    display: flex;
    flex-direction: row;

    margin-top: 18px;
    margin-bottom: 24px;

    background-color: whitesmoke;

    z-index: 0;

    border-radius: 8px;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);
}

.gametilehead {
    position: relative;
    z-index: 1;

    text-align: left;

    font-size: 24px;

    font-family: 'Times New Roman', Times, serif;

    text-decoration: none;

    color: black;

}

.gamebrief {
    z-index: -1;
    position: relative;

    margin-top: 24px;
    left: 0%;

    text-align: justify;
    font-size: 16px;
    font-family: calibri;

    color: black;

    /*background-color: lightpink*/
}

.tilegamecol1 {

    width: 40%;

    margin-left: 0;

    border-radius: 8px;
}

.tilegamecol2 {

    width: 60%;
    height: 60%;

    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.tilegameimg {
    height: 100%;
    width: 100%;
    object-fit: contain;

    border-radius: 8px;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);

}

/* #endregion gamedev */


/* #region devlog*/

.gametitle {
    z-index: -1;
    position: relative;

    top: 12px;

    text-align: center;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

.gamecoverimg {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 806px;

    border-radius: 8px;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .25);
}

.chapterhead {
    position: relative;

    top: 18px;

    text-align: left;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.gamedevlog {
    z-index: -1;
    position: relative;

    /*margin-left: 48px;
    margin-right: 48px;*/

    text-align: justify;
    font-size: 18px;
    font-family: calibri;

    /*background-color: lightblue;*/
}

.quicknav {
    position: relative;

    z-index: -1;

    width: 806px;

    margin: auto;

    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    flex-direction: row;
}

.backtotop {
    

    width: 806px;
    right: 0px;

    text-align: right;
    font-family: "calibri";
    font-size: 18px;

    color: black;
    text-decoration: none;
}

.opengamespage {
    width: 806px;
    left: 0;

    text-align: left;
    font-family: "calibri";
    font-size: 18px;

    color: black;
    text-decoration: none;
}

/* #endregion devlog*/

/* #region art*/
/* #endregion art*/


/* #region scribble*/
/* #endregion scribble*/