/*#region common*/
.htmlscroll {
    overflow-y: scroll;
    background-color: rgb(246, 243, 240);
    scroll-behavior: smooth
}

.allcontainers {
    z-index: -2;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    width: inherit;
    margin: auto
}

.hrpagename {
    width: 806px;
    color: rgb(0, 0, 0);
}

.hidelinkdecor {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 900
}

.maincontent {
    z-index: -2;
    position: relative;
    overflow-x: visible;
    margin-top: 18px;
    margin-bottom: 0;
    margin: auto;
    padding-top: 0;
    padding-bottom: 50px;
    width: 806px;
    height: auto
}

@keyframes loading-fade-inout {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

/*#endregion common*/

/*#region home*/
.loadfade {
    animation: loading-fade-inout .75s infinite alternate;
    text-align: center;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 0
}

.homejk {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: 24px
}

/*#endregion home*/

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    70% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}



/*#region gamedev*/
.hrlogsplit {
    width: auto
}

.gametiles {
    position: relative;
    float: none;
    margin: auto;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    z-index: 0;
    border-radius: 6px
}

.gametilecard {
    position: relative;
    float: none;
    margin: auto;
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    background-color: none;
    z-index: 0;
    border-radius: 6px;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%
}

.gametilecard:hover {
    background-color: rgb(226, 223, 220);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    padding-bottom: 5px
}

.gametilehead {
    position: relative;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px
}

.devlogcontainer {
    position: relative;
    width: 806px;
    margin: auto
}

.tilegamerow1 {
    width: 100%;
    margin-left: 0;
    border-radius: 6px
}

.tilegameimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 6px
}

.quicknavgames {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    left: 1em;
    top: auto 0;
    bottom: auto 0;
    width: 150px;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    left: 0;
}

.quicknavgamesanim {
    left: -134px;
    transition: left .15s;
    animation: quicknavgamesanim .3s 1
}

.quicknavgames:hover {
    left: 0;
    animation-iteration-count: 0
}

@keyframes quicknavgamesanim {
    0% {
        left: 0
    }

    50% {
        left: 0
    }

    100% {
        left: -134px
    }
}

.quicknavgamestile {
    position: relative;
    height: 36px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);

    font-style: normal;
}

.quicknavgamestile:hover {
    background-color: rgb(246, 243, 240);
}

.quicknavgamestile-active {
    position: relative;
    height: 36px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    background-color: rgb(255, 183, 197);

    /*background-color: rgb(80, 200, 120);*/
}

.quicknavgamestile-active:hover {
    background-color: rgb(249, 171, 182);
}

.quicknavgamestext {
    position: relative;
    margin-left: 25px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 50%;
    transform: translateY(-50%);
}

.gamecoverimg {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 6px
}

.chapterhead {
    position: relative;
    top: 18px;
    text-align: left;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif
}

.gamedevlog {
    position: relative;
    left: 0;
    text-align: justify;
    font-size: 18px;
    font-family: calibri
}

.playthisgame {
    width: fit-content;
    margin: auto;
    text-decoration: none;
    color: #000
}

.playthisgametext:hover {
    background-color: #e2dfdc
}

.playthisgamebutton {
    width: fit-content;
    background-color: rgba(226, 223, 220, 50);
    text-decoration: none;
    color: #000
}

.playthisgametext {
    background-color: transparent;
    width: fit-content;
    margin: auto;
    margin-top: 12px;
    padding: 12px;
    text-align: center;
    font-family: calibri;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5)
}

/*#endregion gamedev*/